/* ===== Navbar ===== */
.navbar-container {
    position: fixed;
    height: 70px;
    /*width in App.css*/
    padding: 2px 14px;
    /*background-color: var(--sidebar-color);*/
    background-color: #24292ef7;
    transition: var(--tran-05);
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.navbar-container .text {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    margin-right: 35px;
    margin-left: auto;
    white-space: nowrap;
    opacity: 1;
}

.navbar-container .text .icon {
    margin-right: 10px;
    font-size: 20px;
}
