/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #24292E;
    --primary-color: #dc7055;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Navbar ===== */
.navbar {
    position: fixed;
    height: 70px;
    /*width in App.css*/
    padding: 2px 14px;
    /*background-color: var(--sidebar-color);*/
    background-color: #24292ef7;
    transition: var(--tran-05);
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.navbar .text {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    margin-right: 35px;
    margin-left: auto;
    white-space: nowrap;
    opacity: 1;
}

.navbar .text .icon {
    margin-right: 10px;
    font-size: 20px;
}
