/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #24292E;
    --primary-color: #dc7055;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Sidebar ===== */
.sidebar-container {
    position: fixed;
    z-index: 2;
}

/* ===== Navbar ===== */
.navbar-container {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    z-index: 1;
}

/* ===== Content ===== */
.main-content {
    position: absolute;
    top: 70px;
    left: 250px;
    padding-top: 30px;
    height: calc(100% - 70px);
    width: calc(100% - 250px);
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

/* ===== Content text ===== */
.main-content .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

/* ===== Components when sidebar is closed ===== */
.sidebar-container.close ~ .navbar-container {
    left: 88px;
    width: calc(100% - 88px);
}

.sidebar-container.close ~ .main-content {
    left: 88px;
    width: calc(100% - 88px);
}
